# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
*.egg-info/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
.eggs/

# Logs and databases
*.log
*.sqlite3

# macOS
.DS_Store

# Windows
Thumbs.db

# TensorFlow
checkpoint
